
:root {
      --color-main: rgb(172, 152, 245);
      --color-primary:rgb(119, 99, 191);
      --color-secondary: rgb(190, 226, 232);
      --ex-font-family: 'Times New Roman', Times, serif;
      --ex-font-style: oblique;
      --tnf-border:5px solid rgb(183, 215, 248); 
      --tnf-border-radius:20px;
      --tnf-background-color: rgb(190, 226, 232);
      --content-text-margin-left:2%;
      --content-text-margin-right:2%;
   
   }

#headerdiv p {

   margin:2% auto 2% auto; 
   border:var(--tnf-border);
   border-radius:var(--tnf-border-radius);
   background-color:var(--tnf-background-color);
   height:50px ;
}
#webname img{
   margin:0.01% 10px auto 1%;
   margin-left: 1%; 
   margin-right: 10px;
   
   }

#webname{
   margin-left: 2%;
font-size: XX-large;
font-family: var(--ex-font-family);
font-style: var(--ex-font-style);
color:var(--color-primary)
}

#headerdiv img{
   border:1em ;
   border-radius:20%;
    }

 nav ul{
      border:var(--tnf-border);
      border-radius:var(--tnf-border-radius);
      background-color:var(--tnf-background-color);
    }

a:hover {
   color: blue; 
 }
a:active{
   color: rgb(183, 215, 248); 
}


body{
   background-color: var(--color-main);
   color:rgb(0, 0, 0); 
    }

    
em{

   font-style: var(--ex-font-style);
   font-weight:bolder;
}

.article-sec{
  
border:var(--tnf-border);
border-radius:var(--tnf-border-radius);
margin:3% 5% 3% 5%;
line-height: 150%;

}


.article-sec h2{
   margin-left:2%;
 color:rgb(190, 226, 232);
 margin-right:var(--content-text-margin-right);
 margin-left:var(--content-text-margin-left);
 text-transform:uppercase;
}

.article-sec p{
margin-right:var(--content-text-margin-right);
margin-left:var(--content-text-margin-left);
word-spacing: 2px;
letter-spacing: 1px;
}

 #profilecard{
   
margin:10% auto 10% 30%;
height:50%;
width:30%;
border:10px solid rgb(190, 226, 232);; 
border-radius:40px; 
box-shadow: 4px 4px 2px 10px rgb(178, 190, 249);   
padding:4%;
background-color:var(--color-primary);

 }

 #profilecard  a{
text-decoration: none;
color:var(--color-primary);
border:10px solid rgb(190, 226, 232);  
border-radius:10%;
background-color: var(--color-secondary);
margin:20% auto 3% 30%
 }

.incentretext+p{
   margin:auto auto 3% 42%;
color :rgb(154, 180, 185);

}
.incentretext{

margin:3% auto auto 38%;
font-family: var(--ex-font-family);
font-style: var(--ex-font-style);
font-size: larger;
color:rgb(190, 226, 232);

}

#profilecard>img:first-child{
   border:1em ;
   border-radius:50%;
   box-shadow: 5px 5px 2px 1px rgb(178, 190, 249);
   margin-left: 15%;
 }

#followersicon{
border:none;
box-shadow: none;
margin-left:0px;
}

#profileintro{
margin-left:10% ; 
margin-top:3%;
margin-bottom:8%;
color:white;

}

 #intro img{
    border:1em ;
    border-radius:20%;   
    box-shadow: 5px 5px 2px 1px grey;
    margin-left: 40%;

 }
 

 footer{
color:var(--color-primary);
text-align: center;
border:var(--tnf-border);
border-radius:var(--tnf-border-radius);
background-color:var(--tnf-background-color);

 }